.cadastro-risco {
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    display: grid;
    gap: 3%;
    grid-template-columns: 31% 31% 31%;
    font-family: 'Poppins', sans-serif;
}

.cadastro-risco .first-box {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 2px #0000003b;
    padding: 1rem 0.5rem;
}

.cadastro-risco .text-area {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cadastro-risco .inputs {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.cadastro-risco .label-input {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.cadastro-risco .titulo-step {
    color: #000;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.cadastro-risco .botoes-riscos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* BLACK THEME */

body.dark .cadastro-risco .first-box {
    background-color: #484848;
    box-shadow: 2px 2px 20px 2px #ffbf008f;
    border: yellow 2px solid;
}

body.dark .cadastro-risco hr {
    border-top: 1px solid rgba(255, 215, 0, 0.78);
}

body.dark .cadastro-risco {
    color: #fff;
}

body.dark .cadastro-risco .titulo-step {
    color: #fff;
}

body.dark .cadastro-risco .inputs {
    background: rgb(49, 49, 49) !important;
    border: 1px solid black !important;
    color: white !important;
}

body.dark .cadastro-risco .text-area {
    background: rgb(49, 49, 49) !important;
    border: 1px solid black !important;
    color: white !important;
}

body.dark .cadastro-risco {
    .react-select-geral .css-13cymwt-control,
    .react-select-geral .css-t3ipsp-control,
    .react-select-geral .css-1mndiq5-menu,
    .react-select-geral .css-1nmdiq5-control,
    .react-select-geral .css-1n6sfyn-MenuList {
        background: rgb(49, 49, 49) !important;
        border: 1px solid black !important;
    }

    .react-select-geral .css-d7l1ni-option:active,
    .react-select-geral .css-d7l1ni-option:hover {
        background-color: rgb(34, 34, 34) !important;
    }

    .react-select-geral .css-1dimb5e-singleValue {
        color: white !important;
    }
}